body {
    background-image: url(https://raw.githubusercontent.com/dttric/fruitycraft/main/background.png);
    position: sticky;
    top: 0px;
}

#gameplay {
    margin-left: 5px;
    margin-right: 5px;
}