body {
    background-image: url(https://raw.githubusercontent.com/dttric/fruitycraft/main/background.png);
    position: sticky;
    top: 0px;
}

.cont-gap {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}